@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root{
    --bckg:  #082032;
    --title: #f2ae30;
    --btn: #ff4c29;
    --body: #d2d2d2;
    --face: #000; 
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bckg);
}

#forca {
    display: flex;
    width: 260px;
}

#dica-container{
    width: 180px;
    height: 180px;
    transform: rotate(-90deg);
    margin-right: -140px;
}

.pau{
    background-color: #422600;
    border: solid #000 1px
}

#vertical {
    width: 10px;
    height: 250px;
}

#horizontal {
    width: 130px;
    height: 10px;
}

#talo {
    width: 10px;
    height: 30px;
}

.prego{
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background-color: #808080;
    margin-top: 2px;
    margin-left: 1px;
}

#pessoa {
    width: 100px;
    height: 180px;
    align-self: center;
    margin-left: -55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    background-color: var(--body);
    visibility: hidden;
}

#cabeca {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#eyes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
}
.eye{
    width: 4px;
    height: 4px;
    background-color: var(--face);
    border-radius: 50px;
    margin: 5px;  
}

#boca{
    height: 1px;
    width: 15px;
    background-color: var(--face);
    margin-top: 1px;
    border-radius: 50px;
    box-sizing: border-box;
    

}


#superiores {
    display: flex;
    justify-content: center;
    
    
}

#corpo {
    width: 7px;
    height: 65px;
    position: absolute;
    
}

#arm01 {
    width: 7px;
    height: 45px;
    position: absolute;
    transform: rotate(330deg);
    margin-left: 25px;
    border-radius: 20px;
}

#arm02 {
    width: 7px;
    height: 45px;
    position: absolute;
    transform: rotate(30deg);
    margin-left: -25px;
    border-radius: 20px;
}

#inferiores {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#leg01 {
    width: 7px;
    height: 45px;
    transform: rotate(20deg);
    margin-left: -15px;
    border-radius: 20px;
}

#leg02 {
    width: 7px;
    height: 45px;
    position: absolute;
    transform: rotate(340deg);
    margin-left: 15px;
    border-radius: 20px;
}

.texto{
    font-family: 'Ubuntu', sans-serif;;
    color: var(--title)
}

#verifica{
    width: 90px;
    height: 30px;
    background-color: var(--bckg);
    color: var(--btn);
    border: solid 2px var(--btn);
    border-radius: 10px;
    font-size: 15px;
}

#verifica:hover{
    opacity: 0.7;
}

#label{
    font-size: 20px;
}

#palavra{
    font-size: 35px;
    letter-spacing: 15px;
    color: var(--btn)
}

#jogo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
